/*
 * Base structure
 */
body {
  background-image: url("../images/welcome.jpg");
  background-color: #0a0a0a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fefefe;
  text-shadow: 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}
